<script>
  var counter = 1;
</script>

<%= form_for(@recipe, method: :post) do |f| %>

  <table>
    <tr>
      <td><%= f.label(:name, "Name") %></td>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <td><%= f.label(:cooking, "Cooking") %></td>
      <td><%= f.text_field :cooking %></td>
    </tr>
    <tr>
      <td><%= f.label(:description, "Description") %></td>
      <td><%= f.text_field :description %></td>
    </tr>
  </table>

  <br/>
  <div>
    <table id="ingredients">
      <tr>
        <th>Ingredient</th>
        <th>Amount</th>
        <th>Unit</th>
      </tr>
      <%= f.fields_for :ingredients do |u| %>
        <tr>
          <%= u.fields_for :i1 do |o| %>
            <td><%= o.text_field :material %></td>
            <td><%= o.text_field :amount %></td>
            <td><%= o.text_field :unit %></td>
          <% end %>
        </tr>
      <% end %>
    </table>
    <button type="button" onclick="addIngredient()">Click!</button>
  </div>
  <br/>
  <%= f.submit "Create!" %>
<% end %>