<h1><span><%= @recipe.name %></span>
  <% unless current_user.nil? %>
    <% unless @favorite_recipe.nil? %>
      <br/>
      <%= link_to "Remove from favorites", @favorite_recipe, :method => :delete, class: "btn btn-default" %>
    <% else %>
      <%= form_tag(favorite_recipes_path, method: :post) do %>
        <%= hidden_field_tag(:user_id, "#{current_user.id}") %>
        <%= hidden_field_tag(:recipe_id, "#{@recipe.id}") %>
        <%= submit_tag "Add to favorites", class: "btn btn-success" %>
      <% end %>
    <% end %>
  <% end %>
</h1>
<h3>By: <%= link_to @recipe.user.username, @recipe.user %></h3>
<h4>Portions:
  <div id="base_portions" style="display:none"><%= @recipe.portions %></div>
  <span id="portions"><%= @recipe.portions %></span>
  <button type="button" onclick="changePortionAmount(-1)" class="btn btn-default" style="border-radius: 100%">-</button>
  <button type="button" onclick="changePortionAmount(1)" class="btn btn-default" style="border-radius: 100%">+</button>
</h4>

<h4>Description:</h4>
<p><%= @recipe.description %></p>

<h4>Cooking: <%= @recipe.cooking %></h4>

<h4>Ingredients</h4>
<table class="table table-hover">
  <% @recipe.ingredients.each do |ingredient| %>
    <tr>
      <% if ingredient.material.nil? %>
        <td>NO NAME!</td>
      <% else %>
        <td><%= ingredient.material.name %></td>
      <% end %>
      <% if ingredient.amount.nil? %>
        <td>NO AMOUNT!</td>
      <% else %>
        <td name="ingredient_amount">
          <% if ingredient.amount.round(2) == ingredient.amount.round() %>
            <%= ingredient.amount.round() %>
          <% else %>
            <%= ingredient.amount.round(2) %>
          <% end %>
          <div id="base_amount" style="display:none"><%= ingredient.amount %></div>
        </td>
      <% end %>
      <% if ingredient.unit.nil? %>
        <td>NO UNIT!</td>
      <% else %>
        <td><%= ingredient.unit.name %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<h4>Instructions:</h4>
<table class="table table-striped">
  <% @recipe_instruction_phases.each do |i| %>
    <tr>
      <td><%= i.phase %>.</td>
      <td><%= i.content %></td>
    </tr>
  <% end %>
</table>

<% if current_user and (current_user == @recipe.user or current_user.admin?) %>
  <%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<% end %>
<%= link_to 'Back', recipes_path %>