<p id="notice"><%= notice %></p>

<h1><%= @recipe.name %></h1>
<h3>By: <%= link_to @recipe.user.username, @recipe.user %></h3>
<h4>Portions:
  <span id="portions"><%= @recipe.portions %></span>
  <button type="button" onclick="changePortionAmount(-1)" class="btn btn-default" style="border-radius: 100%">-</button>
  <button type="button" onclick="changePortionAmount(1)" class="btn btn-default" style="border-radius: 100%">+</button>
</h4>
<h4>Cooking: <%= @recipe.cooking %></h4>

<h4>Ingredients</h4>
<table>
  <% @recipe.ingredients.each do |ingredient| %>
    <tr>
      <td><%= ingredient.material.name %></td>
      <td name="ingredient_amount"><%= ingredient.amount %></td>
      <td><%= ingredient.unit.name %></td>
    </tr>
  <% end %>
</table>

<p>
  <strong>Description:</strong>
  <%= @recipe.description %>
</p>


<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
