<p id="notice"><%= notice %></p>

<p>
  <strong>By:</strong>
  <%= link_to @recipe.user.username, @recipe.user %>
</p>

<p>
  <strong>Name:</strong>
  <%= @recipe.name %>
</p>

<p>
  <strong>Cooking:</strong>
  <%= @recipe.cooking %>
</p>

<ul>
  <% @recipe.ingredients.each do |ingredient| %>
    <li><%= ingredient.material.name %>   <%= ingredient.amount %> <%= ingredient.unit.name %> </li>
  <% end %>
</ul>

<p>
  <strong>Description:</strong>
  <%= @recipe.description %>
</p>


<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
