<h1><%= @user.username %></h1>

<h3>Favorite recipes</h3>
<%= render 'recipes', recipes: @user.recipes %>

<h3>Recipes contributed</h3>
<%= render 'recipes', recipes: @contributed %>

<% if current_user == @user or (current_user and current_user.admin?) %>
    <td><%= link_to 'Edit', edit_user_path(@user) %></td> |
<% end %>
<%= link_to 'Back', users_path %>
