<p id="notice"><%= notice %></p>

<h1><%= @material.name %></h1>

<h3>Used in:</h3>
<ul>
  <% @recipes.each do |r| %>
    <li><%= link_to r.name, r %></li>
  <% end %>
</ul>

<% if current_user and current_user.admin? %>
  <%= link_to 'Edit', edit_material_path(@material), class:'btn btn-default' %> |
<% end %>
<%= link_to 'Back', materials_path %>
