<li><%= link_to 'Recipes', recipes_path %></li>
<li><%= link_to 'Materials', materials_path %></li>
<li><%= link_to 'Users', users_path %></li>
<% if current_user %>
    <li><%= link_to current_user.username, current_user %></li>
    <li><%= link_to 'Sign out', signout_path, class:'btn btn-danger', method: :delete %></li>
<% else %>
    <li><%= link_to 'Sign in', signin_path, class:'btn btn-primary' %></li>
    <li><%= link_to 'Sign up', signup_path, class:'btn btn-success' %></li>
<% end %>
